.floating{
    position: fixed;
    right: 25px;
    overflow: hidden;
    cursor: pointer;
    bottom: 30px;
}
.tuing{
    position: absolute;
    top: 12px;
    left: 95px;
    width: 25px;
    height: 25px;
    background: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}